# Firebase тохиргоо
# Firebase Console → Project Settings → Your apps → Web app → firebaseConfig
# Энэ файлыг хуулж .env нэртэй файл үүсгэж утгуудыг оруулна уу

VITE_FIREBASE_API_KEY=AIzaSyAf42ijDzYJEh0cC8-L-6AoVTws49yXQI4
VITE_FIREBASE_AUTH_DOMAIN=jobhub-c671c.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=jobhub-c671c
VITE_FIREBASE_STORAGE_BUCKET=jobhub-c671c.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=629971119042
VITE_FIREBASE_APP_ID=1:629971119042:web:f8d0a5626f0c810a2e445b
VITE_FIREBASE_DATABASE_URL=https://jobhub-c671c-default-rtdb.asia-southeast1.firebasedatabase.app
VITE_FIREBASE_MEASUREMENT_ID=G-Z7SQXLLHX3